token.auth
.vscode/settings.json
/__pycache__
cogs/__pycache__
cogs/misc/__pycache__
cogs/dsa/__pycache__
cogs/misc/__pycache__/*
cogs/dsa/__pycache__/*
*.pyc

*.log
database/lene-nextcord.log
database/tmp/83931378097356800.json
database/tmp/83931378097356800.zip
database/characters.db
database/servers.db
.env
